@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("fundo.jpg");
}

#form-usuario {
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#titulo-imc {
    position: absolute;
    top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
    color: aliceblue;
    font-family: 'Sarala', sans-serif;
}

.subtitulo {
    font-family: 'Sarala', sans-serif;
    color: aliceblue;
    font-size: 20px;

}

#botao-calcular {
    font-family: 'Sarala', sans-serif;
    display: block;
    margin-top: 15px;
    margin-left: 32px;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.input-altura {
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 7px;
    padding-left: 10px;
}

.input-peso {
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 7px;
    padding-left: 10px;
}

p {
    color: aliceblue;
    font-size: 15px;
}

.text_result {
    margin-top: 15px;
    color: aliceblue;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
}

#botton-description {
    color: aliceblue;
    font-size: 17px;
    text-align: center;  
    margin-top: 30px;    
}